<h2>スケジュール詳細</h2>

<table>
    <tr>
        <th>タイトル</th>
        <td><%= @task.title %></td>
    </tr>
    <tr>
        <th>開始日</th>
        <td><%= @task.start_time %></td>
    </tr>
    <tr>
        <th>作成日時</th>
        <td><%= @task.created_at.to_s(:datetime_jp) %></td>
    </tr>
    <tr>
        <th>終日</th>
        <td><%= @task.all_day  %></td>
    </tr>
    <tr>
        <th>スケジュールメモ</th>
        <td><%= @task.content %></td>
    </tr>
</table>

<div>
    <ul>
        <li><%= link_to "スケジュール情報一覧に戻る", :tasks %></li>
        <li><%= link_to "編集", "/tasks/#{@task.id}/edit" %></li>
        <li> <%= link_to "削除", "/tasks/#{@task.id}", method: :delete, data: { confirm: "本当に削除しますか？" } %></li>
    </ul>
</div>